---
import Layout from "../layouts/Layout.astro";
---
<Layout titre="Accueil">
    <section class="container mx-auto px-4 py-16">
        <div class="text-center">
			<h1 class="text-5xl md:text-6xl font-bold mb-6 text-pink-600">
                Accueil 🎀
            </h1>
        </div>
    </section>
</Layout>