---
import Layout from "../layouts/Layout.astro";
import OffreCard from "../components/OffreCard.astro";

import Img01 from "../assets/img/image1.avif";
import Img02 from "../assets/img/image2.avif";
import Img03 from "../assets/img/image3.avif";

 import { getOffres } from "../js/backend.mjs";
const offres = await getOffres();
console.log(offres);
---

<Layout titre="Offres">
  <section class="py-20 px-6">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-5xl md:text-6xl font-bold text-pink-600 text-center mb-8">
        Offres 🎀
      </h1>

      <button id="favori-button" class="bg-pink-600 rounded-lg text-white p-2 mb-6 shadow-red-900/80 shadow-md">
        Afficher les favoris
      </button>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {
          offres.map((offre) => (
            <div class="offre" data-favori={offre.favori.toString()}>
              <OffreCard offre={offre} />
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <script>
    const button = document.getElementById("favori-button");
    let showOnlyFavorites = false;

    button?.addEventListener("click", () => {
      showOnlyFavorites = !showOnlyFavorites;
      const offres = document.querySelectorAll(".offre");

      offres.forEach((offre) => {
        const htmlElement = offre as HTMLElement;
        const isFavori = htmlElement.dataset.favori === "true";

        if (showOnlyFavorites) {
          htmlElement.style.display = isFavori ? "block" : "none";
          button.textContent = "Afficher tout";
        } else {
          htmlElement.style.display = "block";
          button.textContent = "Afficher les favoris";
        }
      });
    });
  </script>
</Layout>