---
import Layout from "../layouts/Layout.astro";
---
<Layout titre="Offres">
    <section class="container mx-auto px-4 py-16">
        <div class="text-center">
            <h1 class="text-5xl md:text-6xl font-bold mb-6 bg-linear-to-r from-red-800 to-purple-500 bg-clip-text text-transparent">
                Offres
            </h1>
        </div>
    </section>
</Layout>